

@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Login", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {


<ul class="nav navbar-nav navbar-right">
    @{
        if (User.IsInRole("Admin"))
        {
            <li><a href="@Url.Action("AdminArea","Admin")">@User.Identity.Name</a></li>
        }
       else
        {
            <li><a href="@Url.Action("UserArea","User")">@User.Identity.Name</a></li>
        }
    }

    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Login", "Login", "Login")</li>
    </ul>
}
